<div class="page">
  <h1
    style="
      align-items: center;
      justify-content: center;
      text-align: center;
      display: flex;
    "
  >
    <b>{{ perfil?.name }}</b>
    <ng-container *ngIf="perfil?.type === 'BUSINESS'">
      &nbsp;
      <ng-container *ngFor="let count of getTotal()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: #fbc94e"
        >
          <path
            d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
          />
        </svg> </ng-container
    ></ng-container>
  </h1>
  <ng-container *ngFor="let servico of perfil?.servicos">
    <mat-card
      class="servico"
      [ngStyle]="{
        'border-bottom': servico.finalizado ? '2px solid #fbc94e' : 'none'
      }"
    >
      <div style="display: flex; flex-direction: row">
        <div class="servico-id">{{ servico.id }}</div>
        <div class="servico-desc" style="word-break: break-all !important">
          {{ servico.desc }}
        </div>
      </div>
      <ng-container *ngIf="!servico.finalizado">
        <div style="margin-top: 10px; display: flex; justify-content: flex-end">
          <button mat-button (click)="onCloseService(servico)">
            Finalizar serviço
          </button>
        </div>
      </ng-container>
    </mat-card>
  </ng-container>
</div>
