<div class="page">
  <h1 style="text-align: center; padding: 1rem">Pintura residencial</h1>
  <div class="container">
    <ng-container *ngFor="let prestador of prestadores">
      <div class="card-container">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title style="align-items: center; display: flex"
              >{{ prestador.nome }}
              &nbsp;
              <ng-container *ngFor="let count of getTotal(prestador.nota)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  style="fill: #fbc94e"
                >
                  <path
                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                  />
                </svg>
              </ng-container>
            </mat-card-title>
          </mat-card-header>

          <mat-card-actions>
            <button mat-button (click)="handleContract(prestador)">
              Contratar
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
