.page {
  align-content: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card-container {
  padding: 1rem;
  width: 45%;
}
@media screen and (max-width: 700px) {
  .card-container {
    width: 100%;
  }
}
