<div class="center">
  <mat-card style="max-width: 500px; padding: 2rem">
    <mat-card-header>
      <mat-card-title
        >Para usufruir da nossa plataforma, primeiramente se cadastre
        !!</mat-card-title
      >
      <mat-card-subtitle
        >Clique no perfil que se adequa ao que procura</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content> </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: space-between">
      <button mat-button routerLink="/cadastro-usuario">Para você</button>
      <button mat-button routerLink="/cadastro-empresa">
        para sua empresa
      </button>
    </mat-card-actions>
  </mat-card>
</div>
