<div class="page2">
  <h2>Bem Vindo a Maridos de Aluguel</h2>
  <p>
    Procurando por reparos residenciais? Você chegou ao lugar certo !! Aqui você
    encontrará o melhor profissional para o serviço que procura,
    disponibilizamos servicos de pequeno a grande porte.
  </p>
</div>
<div class="page">
  <ng-container *ngFor="let service of services">
    <div class="card-container">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{ service.label }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="service.image" />

        <mat-card-actions>
          <button
            mat-button
            [routerLink]="'/servico/' + service.label + '/' + service.id"
          >
            Prestadores
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
</div>
