<div class="center">
  <mat-card style="max-width: 500px; padding: 2rem">
    <mat-card-header>
      <mat-card-title>Cadastro para sua empresa</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="form"
        style="display: flex; flex-direction: column; margin-top: 2rem"
        (ngSubmit)="handleSubmit()"
      >
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome" />
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Celular</mat-label>
          <input matInput type="text" formControlName="celular" />
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Serviços</mat-label>
          <mat-select formControlName="servicos" multiple>
            <mat-option *ngFor="let service of services" [value]="service">
              {{ service.label }}
            </mat-option>
          </mat-select>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="senha" />
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>

        <button mat-button type="submit">Cadastrar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
